stream {
  upstream kube_apiserver {
    least_conn;
    {% for apiserver_ip in groups['kmasters'] %}
server {{ apiserver_ip }}:6443 max_fails=2 fail_timeout=30s;
    {% endfor -%}
  }

  log_format streams '{'
      '"@timestamp":"$time_iso8601", '
      '"time":"$time_local",'
      '"clientip":"$remote_addr", '
      '"bytes_sent":"$bytes_sent", '
      '"bytes_received":"$bytes_received", '
      '"session_time":"$session_time", '
      '"upstream_addr":"$upstream_addr", '
      '"upstream_bytes_sent":"$upstream_bytes_sent", '
      '"upstream_bytes_received":"$upstream_bytes_received", '
      '"upstream_connect_time":"$upstream_connect_time", '
      '"status":"$status", '
      '"protocol":"$protocol" '
  '}';

  access_log /var/log/nginx/tcp-access.log streams;
  open_log_file_cache off;

  server {
    listen                      6443;
    proxy_pass                  kube_apiserver;
    proxy_connect_timeout       5s;
    proxy_timeout               1m;
    proxy_next_upstream         on;
    proxy_next_upstream_tries   3;
    proxy_next_upstream_timeout 10s;
    proxy_socket_keepalive      on;
  }
}
